.page {
  background-color: #820933;
  margin: auto;
  font-family: "Inter regular", Arial, sans-serif;
  color: #fff;
  padding: 45px 10px;
}

@media screen and (min-width: 425px) {
  .page{
    padding: 45px 20px;
  }

}